{% extends 'base.html' %}

{% block content %}

<div class="event">
    <h1>{{ event.author }}</h1>
    <h5> {{ event.title }}</h5>
    <p>{{ event.desc }}</p>
    <p>{{ event.time_start }}</p>
    <p>{{ event.time_end }}</p>
</div>
{% if message %}
    <h3> {{ message }}</h3>
{% endif %}
{% if current_user.email == event.author %}
<form method="POST" action="{{ url_for('event_detail', event_id=event.id) }}">
        {{ form.csrf_token }}
        {{ form.title.label }}<br>
        {{ form.title }}
        {{ form.desc.label }}<br>
        {{ form.desc }}
        {{ form.time_start.label }}<br>
        {{ form.time_start }}
        {{ form.time_end.label}}<br>
        {{ form.time_end }}<br>
    <input type="submit" value="Update">
</form>
{% endif %}

{% endblock content %}